@font-face {
  font-family: Rob;
  src: url('@/assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Rob;
  src: url('@/assets/fonts/Roboto-Medium.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Bad;
  src: url('@/assets/fonts/BadScript-Regular.ttf');
}